.container {width: 960px; margin: 40px auto; font-size: 0;}
.container > div {display: inline-block; vertical-align: top; font-size: 16px;}
.top_menu {width: 960px; height: 50px; background-color: #fff; margin-top: 40px;}
.top_menu a {display: inline; font-size: 20px; font-family: "Noto Sans KR", sans-serif;
    text-decoration: none; background-color: rgb(88, 160, 255); font-weight: 500;
    padding: 15px 72px;
}
.dashboard_area {width: 960px; height: 960px; background-color: #abf;}
.dashboard_content {box-sizing: border-box; padding: 40px; font-size: 0;}
.dashboard_content > div {display: inline-block; vertical-align: top;}
.content_left {width: 260px; height: 260px; background-color: #fff; margin-right: 46px;}
.content_middle {width: 260px; height: 260px; background-color: #fff; margin-right: 46px;}
.content_right {width: 260px; height: 260px; background-color: #fff;}
.content_left .con_title {font-size: 20px; font-family: "Noto Sans KR", sans-serif;}
.content_left .con_number {font-size: 20px; font-family: "Noto Sans KR", sans-serif; font-weight: 500;}
.content_middle .con_title {font-size: 20px; font-family: "Noto Sans KR", sans-serif;}
.content_middle .con_number {font-size: 20px; font-family: "Noto Sans KR", sans-serif; font-weight: 500;}
.content_right .con_title {font-size: 20px; font-family: "Noto Sans KR", sans-serif;}
.content_right .con_number {font-size: 20px; font-family: "Noto Sans KR", sans-serif; font-weight: 500;}

