.year_box{
    width: 150px; height: 150px;
    box-sizing: border-box; margin: 20px;
    background-color: #fab;
    text-align: center;
    display: inline-block;
}
.dashboard_area select {
    margin-left: 700px;
    padding: 10px 15px; font-family: "Noto Sans KR" sans-serif; font-size: 16px;
    font-weight: 700; border: 2px solid #afb; outline: none;
}