<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.greenart.mapper.RegionalInfoMapper">
    <select id="selectOldRegional" resultType="com.greenart.vo.AccidentOldInfoVO">
        select sum(caslt_cnt) as region_cnt, left(sido_sgg_nm, 2) as sido_nm,
        date_format(yearDt, "%Y") as yYearDt
        from accident_old where sido_sgg_nm like '서울%'
        and date_format(yearDt, "%Y-%m-%d") = str_to_date('2020-01-01', "%Y-%m-%d")
        union
        select sum(caslt_cnt) as region_cnt, left(sido_sgg_nm, 2), 
        date_format(yearDt, "%Y")
        from accident_old where sido_sgg_nm like '부산%'
        and date_format(yearDt, "%Y-%m-%d") = str_to_date('2020-01-01', "%Y-%m-%d")
        union
        select sum(caslt_cnt) as region_cnt, left(sido_sgg_nm, 2) ,
        date_format(yearDt, "%Y")
        from accident_old where sido_sgg_nm like '대구%'
        and date_format(yearDt, "%Y-%m-%d") = str_to_date('2020-01-01', "%Y-%m-%d")
        union
        select sum(caslt_cnt) as region_cnt, left(sido_sgg_nm, 2), 
        date_format(yearDt, "%Y") 
        from accident_old where sido_sgg_nm like '인천%'
        and date_format(yearDt, "%Y-%m-%d") = str_to_date('2020-01-01', "%Y-%m-%d")
        union
        select sum(caslt_cnt) as region_cnt, left(sido_sgg_nm, 2), 
        date_format(yearDt, "%Y") 
        from accident_old where sido_sgg_nm like '광주%'
        and date_format(yearDt, "%Y-%m-%d") = str_to_date('2020-01-01', "%Y-%m-%d")
        union
        select sum(caslt_cnt) as region_cnt, left(sido_sgg_nm, 2) ,
        date_format(yearDt, "%Y")
        from accident_old where sido_sgg_nm like '대전%'
        and date_format(yearDt, "%Y-%m-%d") = str_to_date('2020-01-01', "%Y-%m-%d")
        union
        select sum(caslt_cnt) as region_cnt, left(sido_sgg_nm, 2),
        date_format(yearDt, "%Y") 
        from accident_old where sido_sgg_nm like '울산%'
        and date_format(yearDt, "%Y-%m-%d") = str_to_date('2020-01-01', "%Y-%m-%d")
        union
        select sum(caslt_cnt) as region_cnt, left(sido_sgg_nm, 2),
        date_format(yearDt, "%Y") 
        from accident_old where sido_sgg_nm like '세종%'
        and date_format(yearDt, "%Y-%m-%d") = str_to_date('2020-01-01', "%Y-%m-%d")
        union
        select sum(caslt_cnt) as region_cnt, left(sido_sgg_nm, 2), 
        date_format(yearDt, "%Y") 
        from accident_old where sido_sgg_nm like '경기%'
        and date_format(yearDt, "%Y-%m-%d") = str_to_date('2020-01-01', "%Y-%m-%d")
        union
        select sum(caslt_cnt) as region_cnt, left(sido_sgg_nm, 2) , 
        date_format(yearDt, "%Y")
        from accident_old where sido_sgg_nm like '강원%'
        and date_format(yearDt, "%Y-%m-%d") = str_to_date('2020-01-01', "%Y-%m-%d")
        union
        select sum(caslt_cnt) as region_cnt, left(sido_sgg_nm, 4) , 
        date_format(yearDt, "%Y")
        from accident_old where sido_sgg_nm like '충청북도%'
        and date_format(yearDt, "%Y-%m-%d") = str_to_date('2020-01-01', "%Y-%m-%d")
        union
        select sum(caslt_cnt) as region_cnt, left(sido_sgg_nm, 4) ,
        date_format(yearDt, "%Y")
        from accident_old where sido_sgg_nm like '충청남도%'
        and date_format(yearDt, "%Y-%m-%d") = str_to_date('2020-01-01', "%Y-%m-%d")
        union
        select sum(caslt_cnt) as region_cnt, left(sido_sgg_nm, 4) , 
        date_format(yearDt, "%Y")
        from accident_old where sido_sgg_nm like '전라북도%'
        and date_format(yearDt, "%Y-%m-%d") = str_to_date('2020-01-01', "%Y-%m-%d")
        union
        select sum(caslt_cnt) as region_cnt, left(sido_sgg_nm, 4) ,
        date_format(yearDt, "%Y")
        from accident_old where sido_sgg_nm like '전라남도%'
        and date_format(yearDt, "%Y-%m-%d") = str_to_date('2020-01-01', "%Y-%m-%d")
        union
        select sum(caslt_cnt) as region_cnt, left(sido_sgg_nm, 4) ,
        date_format(yearDt, "%Y")
        from accident_old where sido_sgg_nm like '경상북도%'
        and date_format(yearDt, "%Y-%m-%d") = str_to_date('2020-01-01', "%Y-%m-%d")
        union
        select sum(caslt_cnt) as region_cnt, left(sido_sgg_nm, 4) ,
        date_format(yearDt, "%Y")
        from accident_old where sido_sgg_nm like '경상남도%'
        and date_format(yearDt, "%Y-%m-%d") = str_to_date('2020-01-01', "%Y-%m-%d")
        union
        select sum(caslt_cnt) as region_cnt, left(sido_sgg_nm, 2) ,
        date_format(yearDt, "%Y")
        from accident_old where sido_sgg_nm like '제주%'
        and date_format(yearDt, "%Y-%m-%d") = str_to_date('2020-01-01', "%Y-%m-%d");
    </select>

    <select id="selectChdRegional" resultType="com.greenart.vo.AccidentChdInfoVO">
        select sum(caslt_cnt) as region_cnt, left(sido_sgg_nm, 2) as sido_nm,
        date_format(yearDt, "%Y") as yYearDt
        from accident_chd where sido_sgg_nm like '서울%'
        and date_format(yearDt, "%Y-%m-%d") = str_to_date('2020-01-01', "%Y-%m-%d")
        union
        select sum(caslt_cnt) as region_cnt, left(sido_sgg_nm, 2), 
        date_format(yearDt, "%Y")
        from accident_chd where sido_sgg_nm like '부산%'
        and date_format(yearDt, "%Y-%m-%d") = str_to_date('2020-01-01', "%Y-%m-%d")
        union
        select sum(caslt_cnt) as region_cnt, left(sido_sgg_nm, 2) ,
        date_format(yearDt, "%Y")
        from accident_chd where sido_sgg_nm like '대구%'
        and date_format(yearDt, "%Y-%m-%d") = str_to_date('2020-01-01', "%Y-%m-%d")
        union
        select sum(caslt_cnt) as region_cnt, left(sido_sgg_nm, 2), 
        date_format(yearDt, "%Y") 
        from accident_chd where sido_sgg_nm like '인천%'
        and date_format(yearDt, "%Y-%m-%d") = str_to_date('2020-01-01', "%Y-%m-%d")
        union
        select sum(caslt_cnt) as region_cnt, left(sido_sgg_nm, 2), 
        date_format(yearDt, "%Y") 
        from accident_chd where sido_sgg_nm like '광주%'
        and date_format(yearDt, "%Y-%m-%d") = str_to_date('2020-01-01', "%Y-%m-%d")
        union
        select sum(caslt_cnt) as region_cnt, left(sido_sgg_nm, 2) ,
        date_format(yearDt, "%Y")
        from accident_chd where sido_sgg_nm like '대전%'
        and date_format(yearDt, "%Y-%m-%d") = str_to_date('2020-01-01', "%Y-%m-%d")
        union
        select
        ifnull(sum(caslt_cnt), 0) as cregion_cnt,
        ifnull(sido_sgg_nm, '울산광역시'), 
        ifnull(date_format(yearDt, "%Y"), '2020') as yYearDt
        from accident_chd where sido_sgg_nm like '울산%'
        and date_format(yearDt, "%Y-%m-%d") = str_to_date('2020-01-01', "%Y-%m-%d")
        union
        select
        ifnull(sum(caslt_cnt), 0) as cregion_cnt,
        ifnull(sido_sgg_nm, '세종특별자치시'), 
        ifnull(date_format(yearDt, "%Y"), '2020') as yYearDt
        from accident_chd where sido_sgg_nm like '세종%'
        and date_format(yearDt, "%Y-%m-%d") = str_to_date('2020-01-01', "%Y-%m-%d")
        union
        select sum(caslt_cnt) as region_cnt, left(sido_sgg_nm, 2), 
        date_format(yearDt, "%Y") 
        from accident_chd where sido_sgg_nm like '경기%'
        and date_format(yearDt, "%Y-%m-%d") = str_to_date('2020-01-01', "%Y-%m-%d")
        union
        select 
        ifnull(sum(caslt_cnt), 0) as cregion_cnt,
        ifnull(sido_sgg_nm, '강원도'), 
        ifnull(date_format(yearDt, "%Y"), '2020') as yYearDt
        from accident_chd where sido_sgg_nm like '강원%'
        and date_format(yearDt, "%Y-%m-%d") = str_to_date('2020-01-01', "%Y-%m-%d")
        union
        select 
        ifnull(sum(caslt_cnt), 0) as cregion_cnt,
        ifnull(sido_sgg_nm, '충청북도'), 
        ifnull(date_format(yearDt, "%Y"), '2020') as yYearDt
        from accident_chd where sido_sgg_nm like '충청북도%'
        and date_format(yearDt, "%Y-%m-%d") = str_to_date('2020-01-01', "%Y-%m-%d")
        union
        select 
        ifnull(sum(caslt_cnt), 0) as cregion_cnt,
        ifnull(sido_sgg_nm, '충청남도'), 
        ifnull(date_format(yearDt, "%Y"), '2020') as yYearDt
        from accident_chd where sido_sgg_nm like '충청남도%'
        and date_format(yearDt, "%Y-%m-%d") = str_to_date('2020-01-01', "%Y-%m-%d")
        union
        select sum(caslt_cnt) as region_cnt, left(sido_sgg_nm, 4) , 
        date_format(yearDt, "%Y")
        from accident_chd where sido_sgg_nm like '전라북도%'
        and date_format(yearDt, "%Y-%m-%d") = str_to_date('2020-01-01', "%Y-%m-%d")
        union
        select sum(caslt_cnt) as region_cnt, left(sido_sgg_nm, 4) ,
        date_format(yearDt, "%Y")
        from accident_chd where sido_sgg_nm like '전라남도%'
        and date_format(yearDt, "%Y-%m-%d") = str_to_date('2020-01-01', "%Y-%m-%d")
        union
        select sum(caslt_cnt) as region_cnt, left(sido_sgg_nm, 4) ,
        date_format(yearDt, "%Y")
        from accident_chd where sido_sgg_nm like '경상북도%'
        and date_format(yearDt, "%Y-%m-%d") = str_to_date('2020-01-01', "%Y-%m-%d")
        union
        select 
        ifnull(sum(caslt_cnt), 0) as cregion_cnt,
        ifnull(sido_sgg_nm, '경상남도'), 
        ifnull(date_format(yearDt, "%Y"), '2020') as yYearDt
        from accident_chd where sido_sgg_nm like '경상남도%'
        and date_format(yearDt, "%Y-%m-%d") = str_to_date('2020-01-01', "%Y-%m-%d")
        union
        select sum(caslt_cnt) as region_cnt, left(sido_sgg_nm, 2) ,
        date_format(yearDt, "%Y")
        from accident_chd where sido_sgg_nm like '제주%'
        and date_format(yearDt, "%Y-%m-%d") = str_to_date('2020-01-01', "%Y-%m-%d");
    </select>

    <select id="selectBycRegional" resultType="com.greenart.vo.AccidentBycInfoVO">
        select sum(caslt_cnt) as region_cnt, left(sido_sgg_nm, 2) as sido_nm,
        date_format(yearDt, "%Y") as yYearDt
        from accident_byc where sido_sgg_nm like '서울%'
        and date_format(yearDt, "%Y-%m-%d") = str_to_date('2020-01-01', "%Y-%m-%d")
        union
        select sum(caslt_cnt) as region_cnt, left(sido_sgg_nm, 2), 
        date_format(yearDt, "%Y")
        from accident_byc where sido_sgg_nm like '부산%'
        and date_format(yearDt, "%Y-%m-%d") = str_to_date('2020-01-01', "%Y-%m-%d")
        union
        select sum(caslt_cnt) as region_cnt, left(sido_sgg_nm, 2) ,
        date_format(yearDt, "%Y")
        from accident_byc where sido_sgg_nm like '대구%'
        and date_format(yearDt, "%Y-%m-%d") = str_to_date('2020-01-01', "%Y-%m-%d")
        union
        select sum(caslt_cnt) as region_cnt, left(sido_sgg_nm, 2), 
        date_format(yearDt, "%Y") 
        from accident_byc where sido_sgg_nm like '인천%'
        and date_format(yearDt, "%Y-%m-%d") = str_to_date('2020-01-01', "%Y-%m-%d")
        union
        select sum(caslt_cnt) as region_cnt, left(sido_sgg_nm, 2), 
        date_format(yearDt, "%Y") 
        from accident_byc where sido_sgg_nm like '광주%'
        and date_format(yearDt, "%Y-%m-%d") = str_to_date('2020-01-01', "%Y-%m-%d")
        union
        select sum(caslt_cnt) as region_cnt, left(sido_sgg_nm, 2) ,
        date_format(yearDt, "%Y")
        from accident_byc where sido_sgg_nm like '대전%'
        and date_format(yearDt, "%Y-%m-%d") = str_to_date('2020-01-01', "%Y-%m-%d")
        union
        select sum(caslt_cnt) as region_cnt, left(sido_sgg_nm, 2),
        date_format(yearDt, "%Y") 
        from accident_byc where sido_sgg_nm like '울산%'
        and date_format(yearDt, "%Y-%m-%d") = str_to_date('2020-01-01', "%Y-%m-%d")
        union
        select sum(caslt_cnt) as region_cnt, left(sido_sgg_nm, 2),
        date_format(yearDt, "%Y") 
        from accident_byc where sido_sgg_nm like '세종%'
        and date_format(yearDt, "%Y-%m-%d") = str_to_date('2020-01-01', "%Y-%m-%d")
        union
        select sum(caslt_cnt) as region_cnt, left(sido_sgg_nm, 2), 
        date_format(yearDt, "%Y") 
        from accident_byc where sido_sgg_nm like '경기%'
        and date_format(yearDt, "%Y-%m-%d") = str_to_date('2020-01-01', "%Y-%m-%d")
        union
        select sum(caslt_cnt) as region_cnt, left(sido_sgg_nm, 2) , 
        date_format(yearDt, "%Y")
        from accident_byc where sido_sgg_nm like '강원%'
        and date_format(yearDt, "%Y-%m-%d") = str_to_date('2020-01-01', "%Y-%m-%d")
        union
        select sum(caslt_cnt) as region_cnt, left(sido_sgg_nm, 4) , 
        date_format(yearDt, "%Y")
        from accident_byc where sido_sgg_nm like '충청북도%'
        and date_format(yearDt, "%Y-%m-%d") = str_to_date('2020-01-01', "%Y-%m-%d")
        union
        select sum(caslt_cnt) as region_cnt, left(sido_sgg_nm, 4) ,
        date_format(yearDt, "%Y")
        from accident_byc where sido_sgg_nm like '충청남도%'
        and date_format(yearDt, "%Y-%m-%d") = str_to_date('2020-01-01', "%Y-%m-%d")
        union
        select sum(caslt_cnt) as region_cnt, left(sido_sgg_nm, 4) , 
        date_format(yearDt, "%Y")
        from accident_byc where sido_sgg_nm like '전라북도%'
        and date_format(yearDt, "%Y-%m-%d") = str_to_date('2020-01-01', "%Y-%m-%d")
        union
        select sum(caslt_cnt) as region_cnt, left(sido_sgg_nm, 4) ,
        date_format(yearDt, "%Y")
        from accident_byc where sido_sgg_nm like '전라남도%'
        and date_format(yearDt, "%Y-%m-%d") = str_to_date('2020-01-01', "%Y-%m-%d")
        union
        select sum(caslt_cnt) as region_cnt, left(sido_sgg_nm, 4) ,
        date_format(yearDt, "%Y")
        from accident_byc where sido_sgg_nm like '경상북도%'
        and date_format(yearDt, "%Y-%m-%d") = str_to_date('2020-01-01', "%Y-%m-%d")
        union
        select sum(caslt_cnt) as region_cnt, left(sido_sgg_nm, 4) ,
        date_format(yearDt, "%Y")
        from accident_byc where sido_sgg_nm like '경상남도%'
        and date_format(yearDt, "%Y-%m-%d") = str_to_date('2020-01-01', "%Y-%m-%d")
        union
        select 
        ifnull(sum(caslt_cnt), 0) as region_cnt,
        ifnull(sido_sgg_nm, '제주'), 
        ifnull(date_format(yearDt, "%Y"), '2020') as yYearDt
        from accident_byc where sido_sgg_nm like '제주%'
        and date_format(yearDt, "%Y-%m-%d") = str_to_date('2020-01-01', "%Y-%m-%d");
    </select>

    <select id="selectRegional" resultType="com.greenart.vo.AccidentRegionalVO">
        select * from (
            select sum(caslt_cnt) as old_cnt, left(sido_sgg_nm, 4) as sido_nm,
            date_format(yearDt , "%Y")  as yYearDt
            from accident_old 
            where sido_sgg_nm like '서울%'
            and date_format(yearDt , "%Y-%m-%d") = str_to_date('2020-01-01', "%Y-%m-%d")
        ) as a inner join (
            select sum(caslt_cnt) as chd_cnt
            from accident_chd
            where sido_sgg_nm like '서울%'
            and date_format(yearDt , "%Y-%m-%d") = str_to_date('2020-01-01', "%Y-%m-%d")
        ) as b inner join (
            select sum(caslt_cnt) as byc_cnt
            from accident_byc
            where sido_sgg_nm like '서울%'
            and date_format(yearDt , "%Y-%m-%d") = str_to_date('2020-01-01', "%Y-%m-%d")
        ) as c;
    </select>
</mapper>